/*@import './header.css';*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

#container {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#boombox {
  background-image: url(/boombox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
  margin: auto;
  position: relative;
  width: 100vh;
}

#info {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 17vh;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 36vh;
  transform: translate(-50%);
  width: 26vh;
}

#info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#info h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#progress-bar {
  background-color: whitesmoke;
  border: 3px solid black;
  height: 4.5vh;
  left: 50%;
  position: absolute;
  top: 58vh;
  transform: translate(-50%);
  width: 39vh;
}

#progress {
  background-color: #333;
  height: 100%;
  width: 0;
}

#buttons {
  background-color: whitesmoke;
  display: flex;
  height: 7vh;
  justify-content: space-around;
  left: 50%;
  position: absolute;
  top: 25vh;
  transform: translate(-50%);
  width: 36vh;
}

.btn {
  color: black;
  cursor: pointer;
  font-size: 5.5vh;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: translateY(2px);
}
